.chartContainer {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 30px;
}

.labelContainer {
    width: 225px;
    height: 300px;
    border: 2px solid black;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

.labelItemsContainer {
    width: 225px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.labelItem {
    margin: 10px;
    display: flex;
}

.labelName {
    margin-right: 10px;
    font-size: 1em;
}

.colorBox {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1050px) {
    .chartContainer {
        width: 450px;
        height: 450px;
        margin-top: 35px;
    }
    
    .colorBox {
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 900px) {
    .chartContainer {
        width: 400px;
        height: 400px;
        margin-top: 65px;
        left: -20px;
    }
    
    .colorBox {
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 650px) {
    .chartContainer {
        width: 100vw;
        height: 400px;
        margin-top: 0px;
        left: -80px;
    }
    
    .colorBox {
        width: 20px;
        height: 20px;
    }
}