.chartContainer {
    width: 800px;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.chartImg {
    max-width: 100%;
}


/* .labelContainer {
    width: 225px;
    height: 300px;
    border: 2px solid black;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
} */

/* .labelItemsContainer {
    width: 225px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: flex-start;
} */

/* .labelItem {
    margin: 10px;
    display: flex;
} */

/* .labelName {
    margin-right: 10px;
    font-size: 1em;
} */

/* .colorBox {
    width: 20px;
    height: 20px;
} */

@media screen and (max-width: 1200px) {
    .chartContainer {
        width: 750px;
    }
}


@media screen and (max-width: 1050px) {
    .chartContainer {
        width: 650px;
    }
    
    /* .colorBox {
        width: 15px;
        height: 15px;
    } */
}

@media screen and (max-width: 900px) {
    .chartContainer {
        width: 600px;
        left: 65%;
    }
    
    /* .colorBox {
        width: 15px;
        height: 15px;
    } */
}

@media screen and (max-width: 800px) {
    .chartContainer {
        left: 70%;
    }
}

@media screen and (max-width: 750px) {
    .chartContainer {
        width: 550px;
    }
}

@media screen and (max-width: 650px) {
    .chartContainer {
        width: 100vw;
        top: 50%;
    }
    
    /* .colorBox {
        width: 20px;
        height: 20px;
    } */
}