.languageSection {
    height: 600px;
}

.container {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
}

.leftColumn {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 50vw;
    position: relative;
    height: 500px;
}

.rightColumn {
    width: 50vw;
    height: 500px;
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
}

.colorBox {
    margin: 0 auto;
    border: 1px solid black;
}

.sectionTitle {
    width: 50vw;
    font-size: 4.5rem;
    position: absolute;
    bottom: 0;
}

.bottomBar {
    height: 10px;
    width: 95vw;
    background-color: black;
}