.nav {
    position: sticky;
    top: 10px;
    z-index: 1000;
    background-color: white;
    width: 100vw;
    padding: 0 10px;
    height: 50px;
}

.blackLine {
    height: 10px;
    width: 95vw;
    background-color: black;
    /* margin-top: 25px;
    margin-left: 3vw; */
    position: absolute;
    top: 25px;
    right: 0;
}

.ul {
    display: flex;
    list-style: none;
    width: 90%;
    margin: auto;
    position: absolute;
    top: 35px;
}

.li {
    font-size: 2em;
    width: 300px;
    margin: 5px 10px;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 950px) {
    .li {
        font-size: 1.5em;
    }
}